description = "Nav content"

[viewBag]

[staticMenu]
code = "mainmenu"

[Agent]
==

<nav class="nav-extended">
  <div class="nav-wrapper">

    <a class="left nav-logo" href="{{ '/'|app }}">
      <img src="{{ 'logo-valman.png'|media }}">
    </a>

    <ul class="left hide-on-med-and-down">
      {% for item in staticMenu.menuItems %}
        <li class="{{ item.isActive or item.isChildActive ? 'active' : '' }}">
          <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>

    <ul class="nav-contacts">
      <li>
        <a
          href="https://{{ Agent.isMobile() ? 'api' : 'web' }}.whatsapp.com/send?phone=390666564815"
          target="_blank"
          class="btn waves-effect waves-light contact-phone">
            <i class="fab fa-whatsapp"></i>
            <span class="contact-slash">/</span>
            <i class="fas fa-phone"></i>
            0666564815
        </a>
      </li>

      <li class="hide-on-small-only">
        <a
          href="mailto:info@valmanviaggi.it"
          class="btn waves-effect waves-light contact-email">
            <i class="fas fa-envelope"></i>
            info@valmanviaggi.it
        </a>
      </li>
    </ul>

    <a href="#" data-target="mobile-menu" class="right sidenav-trigger">
      <i class="fas fa-bars"></i>
    </a>

  </div>
</nav>
