@charset "UTF-8";

$assets-path: "..";
$fonts-path: "#{$assets-path}/fonts";
$node-modules-path: "#{$assets-path}/node_modules";
$materialize-sass-path: "#{$node-modules-path}/materialize-css/sass";
$materialize-components-path: "#{$materialize-sass-path}/components";

/*
 * Color
 * * * * */
@import "#{$materialize-components-path}/color-variables";
@import "#{$materialize-components-path}/color-classes";

/*
 * Custom variables
 * * * * * * * * * */
@import "components/variables";

/*
 * Variables
 * * * * * * */
@import "#{$materialize-components-path}/variables";

/*
 * Reset
 * * * * */
@import "#{$materialize-components-path}/normalize";

/*
 * Components
 * * * * * * */
@import "#{$materialize-components-path}/global";
@import "#{$materialize-components-path}/badges";
//@import "#{$materialize-components-path}/icons-material-design";
@import "#{$materialize-components-path}/grid";
@import "#{$materialize-components-path}/navbar";
@import "#{$materialize-components-path}/typography";
@import "#{$materialize-components-path}/transitions";
@import "#{$materialize-components-path}/cards";
//@import "#{$materialize-components-path}/toast";
//@import "#{$materialize-components-path}/tabs";
//@import "#{$materialize-components-path}/tooltip";
@import "#{$materialize-components-path}/buttons";
@import "#{$materialize-components-path}/dropdown";
@import "#{$materialize-components-path}/waves";
@import "#{$materialize-components-path}/modal";
@import "#{$materialize-components-path}/collapsible";
@import "#{$materialize-components-path}/chips";
@import "#{$materialize-components-path}/materialbox";
//@import "#{$materialize-components-path}/forms/forms";
@import "#{$materialize-components-path}/table_of_contents";
@import "#{$materialize-components-path}/sidenav";
//@import "#{$materialize-components-path}/preloader";
//@import "#{$materialize-components-path}/slider";
@import "#{$materialize-components-path}/carousel";
@import "#{$materialize-components-path}/tapTarget";
@import "#{$materialize-components-path}/pulse";
//@import "#{$materialize-components-path}/datepicker";
//@import "#{$materialize-components-path}/timepicker";

/*
 * Custom components
 * * * * * * * * * * */
@import "components/typography";
@import "components/global";
@import "components/badges";
@import "components/cards";
@import "components/buttons";
@import "components/navbar";
@import "components/side-navigation";
