.btn,
.btn-floating {
  &:focus {
    background-color: $button-background-focus;
  }
}

.btn .fab,
.btn .fas {
  line-height: inherit;
}

.btn-flat:focus {
  background-color: $secondary-color-dark;
}
