.card {
  color: $card-text-color;

  .card-title {
    color: $card-title-color;
  }

  .card-title + .right {
    margin-bottom: 1rem;
  }

  .card-content {
    ul {
      padding-left: 1rem;
    }

    ul li {
      list-style-type: disc;
    }

    img {
      width: 100%;
      margin: 1rem 0;
    }
  }
}
