.full-height {
  height: 100vh;
}

.full-height-no-nav {
  height: 531px;
  height: calc(100vh - #{$navbar-height-mobile});

  @media #{$medium-and-up} {
    height: calc(100vh - #{$navbar-height});
  }
}

.collection-item .fa-angle-left {
  margin-right: 6px;
}

.fas.fa-phone,
.fas.fa-envelope,
.fab.fa-whatsapp {
  color: $secondary-color;
}

.contact-email {
  text-transform: none;
}

.page-footer {
  position: relative;

  .contact-phone,
  .contact-slash,
  .contact-email {
    color: $footer-contact-color;
  }
}

.pointer-on-hover:hover {
  cursor: pointer !important;
}
