@function font-url($font) {
  @return url("#{$fonts-path}/#{$font}");
}

@font-face {
  font-family: "Now";
  src: font-url("now/Now-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Now";
  src: font-url("now/Now-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Now";
  src: font-url("now/Now-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Now";
  src: font-url("now/Now-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Now";
  src: font-url("now/Now-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Now";
  src: font-url("now/Now-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
