// ==========================================================================
// Materialize variables
// ==========================================================================
//
// Table of Contents:
//
//  1. Colors
//  2. Badges
//  3. Buttons
//  4. Cards
//  5. Carousel
//  6. Collapsible
//  7. Chips
//  8. Date + Time Picker
//  9. Dropdown
//  10. Forms
//  11. Global
//  12. Grid
//  13. Navigation Bar
//  14. Side Navigation
//  15. Photo Slider
//  16. Spinners | Loaders
//  17. Tabs
//  18. Tables
//  19. Toasts
//  20. Typography
//  21. Footer
//  22. Flow Text
//  23. Collections
//  24. Progress Bar



// 1. Colors
// ==========================================================================

$primary-color: #1072b9;
$primary-color-dark: #004789;
$primary-color-light: #5ba0ec;

$secondary-color: #fed230;
$secondary-color-dark: #c7a100;
$secondary-color-light: #ffff67;

$success-color: color(green, base);
$error-color: color(red, base);
$link-color: color(light-blue, darken-1);

// 2. Badges
// ==========================================================================

$badge-color: color(grey, darken-3);
$badge-active-color: color(shades, white);

// 3. Buttons
// ==========================================================================

// Shared styles
$button-background-focus: lighten($primary-color-light, 20%);

// Disabled styles
$button-disabled-background: #DFDFDF;
$button-disabled-color: #9F9F9F;

// Raised buttons
$button-raised-background: $primary-color-light;
$button-raised-background-hover: lighten($primary-color-light, 10%);
$button-raised-color: color(shades, white);

$button-floating-background-hover: color(shades, white);

// 4. Cards
// ==========================================================================

$card-text-color: #fff;
$card-title-color: $secondary-color;

$card-bg-color: $primary-color-light;
$card-link-color: $primary-color;
$card-link-color-light: $secondary-color;

// 5. Carousel
// ==========================================================================

// 6. Collapsible
// ==========================================================================

// 7. Chips
// ==========================================================================

// 8. Date + Time Picker
// ==========================================================================

// 9. Dropdown
// ==========================================================================

// 10. Forms
// ==========================================================================

// 11. Global
// ==========================================================================

// 12. Grid
// ==========================================================================

// 13. Navigation Bar
// ==========================================================================

$navbar-font-color: $secondary-color;
$navbar-font-weight: 500;

// 14. Side Navigation
// ==========================================================================

// 15. Photo Slider
// ==========================================================================

// 16. Spinners | Loaders
// ==========================================================================

// 17. Tabs
// ==========================================================================

// 18. Tables
// ==========================================================================

// 19. Toasts
// ==========================================================================

// 20. Typography
// ==========================================================================

$font-stack: "Now", -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

// 21. Footer
// ==========================================================================

$footer-bg-color: $primary-color;
$footer-copyright-font-color: $primary-color-dark;
$footer-copyright-bg-color: $secondary-color;
$footer-contact-color: $secondary-color;

// 22. Flow Text
// ==========================================================================

// 23. Collections
// ==========================================================================

$collection-active-bg-color: $primary-color-light;
$collection-active-color: color(shades, white);
$collection-link-color: $primary-color;

// 24. Progress Bar
// ==========================================================================
