description = "Home layout"

[staticPage]
useContent = 0
default = 0

[blogPosts]
postsPerPage = 3
sortOrder = "published_at desc"
postPage = "post-by-slug"

[viewBag]
==

{% partial 'site/head' %}
{% partial 'site/nav/fixed' %}

<style>
  .carousel-item {
    background-position: 60% 15%;
    background-size: cover;
  }

  #home-carousel .carousel-indicator {
    cursor: pointer;
    font-size: 30px;
    bottom: 30%;
    top: auto;
  }

  #carousel-left-indicator {
    left: 5%;
    right: auto;
  }

  #carousel-right-indicator {
    right: 5%;
    left: auto;
  }

  #first-slide {
    background-image: url("{{ viewBag.carousel1|media }}");
  }

  #second-slide {
    background-image: url("{{ viewBag.carousel2|media }}");
  }

  #third-slide {
    background-image: url("{{ viewBag.carousel3|media }}");
  }

  .caption * {
    text-shadow:
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  }

  .caption h1 {
    font-size: 3.2rem;
  }

  .carousel-item .caption {
    position: relative;
    max-width: 16rem;
    margin: 0 auto;
    color: white;
    top: 3rem;
  }

  @media only screen and (min-width: 600px) {
    .carousel-item .caption {
      max-width: 30rem;
    }
  }

  #second-slide .caption {
    top: 25vh;
  }
</style>

<main>
  <div id="home-carousel" class="carousel carousel-slider center full-height-no-nav">

    <a id="carousel-left-indicator" class="carousel-fixed-item carousel-indicator">
      <i class="fas fa-angle-left"></i>
    </a>

    <a id="carousel-right-indicator" class="carousel-fixed-item carousel-indicator">
      <i class="fas fa-angle-right"></i>
    </a>

    <div class="carousel-item" id="first-slide" href="#first-slide">
      <div class="caption">
        <h1 data-animation="fadeInLeft">{{ viewBag.title1 }}</h1>
        <h2 data-animation="fadeInLeft">{{ viewBag.tagline1 }}</h2>
      </div>
    </div>

    <div class="carousel-item" id="second-slide" href="#second-slide">
      <div class="caption">
        <h1 data-animation="fadeInRight">{{ viewBag.title2 }}</h1>
        <h2 data-animation="fadeInRight">{{ viewBag.tagline2 }}</h2>
      </div>
    </div>

    <div class="carousel-item" id="third-slide" href="#third-slide">
      <!-- note: add 'slow' to data-animation to change speed -->
      <div data-animation="fadeInDown" class="caption">
        <h1>{{ viewBag.title3 }}</h1>
        <h2>{{ viewBag.tagline3 }}</h2>
      </div>
    </div>

  </div>

  <div class="container">
    <h2>Ultime novità</h2>
    <hr>
  </div>

  {% set post = blogPosts.posts %}

  {% partial 'home/preview-posts-in-staggered-card' %}

</main>

{% set script %}
<script>
  var animatedElements = [];

  var lastSlideChange = 0;

  var carousel = M.Carousel.init(document.getElementById('home-carousel'), {
    fullWidth: true,
    indicators: true,
    onCycleTo: function (elem) {
      element.hide(animatedElements);

      animatedElements = element.flattenChildren(elem)
        .filter(element.has.data.animation)
        .map(element.show)
        .map(element.animate);

      lastSlideChange = Date.now();
    }
  });

  carousel.images
    .slice(1)
    .map(function (carouselItem) {
      return element.util.slice(carouselItem.childNodes)
        .filter(element.has.data.animation);
    })
    .forEach(element.hide);

  document
    .getElementById('carousel-left-indicator')
    .addEventListener('click', function (event) {
      carousel.prev();
    });

  document
    .getElementById('carousel-right-indicator')
    .addEventListener('click', function (event) {
      carousel.next();
    });

  var slideInterval = 10000;

  setInterval(function () {
    if (Date.now() - lastSlideChange >= slideInterval) {
      carousel.next();
    }
  }, slideInterval);
</script>
{% endset %}

{% partial 'site/foot' bottom = script %}
