title = "Offers"
url = "/offers/:page?|^[0-9]+$"
layout = "base"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "offers"
postsPerPage = 3
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "offers-by-category"
postPage = "post-by-slug"

[blogCategories]
displayEmpty = true
categoryPage = "offers-by-category"

[viewBag]
==

{% for post in blogPosts.posts %}
  {% if loop.first or loop.index % 2 == 0 %}
    <div class="row">
  {% endif %}

  {% if loop.first %}
    <div class="col s12 l6">
      {% partial 'blog/categories' subCategoriesBySlug = 'offers' %}
    </div>
  {% endif %}

  <div class="col s12 l6">
    {% partial 'blog/preview-post-in-card' post = post %}
  </div>

  {% if loop.first or loop.index % 2 == 1 %}
    </div>
  {% endif %}
{% endfor %}

{% partial 'blog/pagination' %}
