title = "Offerte"
url = "/offerte/:category/:page?"
layout = "base"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :category }}"
postsPerPage = 5
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "offers-by-category"
postPage = "post-by-slug"

[blogCategories]
displayEmpty = true
slug = "{{ :category }}"
categoryPage = "offers-by-category"

[viewBag]
==

<div class="row">
  <div class="col s12 l6">
    {% partial 'blog/categories'
      allCategoriesPage = 'all-offers'
      subCategoriesBySlug = 'offers' %}

    {% for post in blogPosts.posts %}
      {% if loop.index % 2 == 0 %}
        {% partial 'blog/preview-post-in-card' post = post %}
      {% endif %}
    {% endfor %}
  </div>

  <div class="col s12 l6">
    {% for post in blogPosts.posts %}
      {% if loop.index % 2 == 1 %}
        {% partial 'blog/preview-post-in-card' post = post %}
      {% endif %}
    {% endfor %}
  </div>
</div>

<div class="row">
  <div class="col s12">
    {% partial 'blog/pagination' %}
  </div>
</div>
