<!-- TODO -->

{% if category.slug == 'lista-nozze' %}
  <i class="fas fa-heart"></i>
{% endif %}

{% if category.slug == 'villaggi' %}
  <i class="fas fa-cocktail"></i>
{% endif %}

{% if category.slug == 'crociere' %}
  <i class="fas fa-ship"></i>
{% endif %}

{% if category.slug == 'tour-organizzati' %}
  <i class="fas fa-suitcase"></i>
{% endif %}

{% if category.slug == 'last-minute' %}
  <i class="fas fa-clock"></i>
{% endif %}

{% if category.slug == 'selezionati-per-voi' %}
  <i class="fas fa-thumbs-up"></i>
{% endif %}
